includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor/pestphp/pest/extension.neon

parameters:
    paths:
        - app
        - routes
        - config
        - database
        - tests

    level: 6

    parallel:
        maximumNumberOfProcesses: 1

    excludePaths:
        - bootstrap/cache/*
        - storage/*
        - vendor/*